#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    background: #47474700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
}

/* ---------------Navigation Bar--------------- */
.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navBar li a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color: #b9b9b9;
    transition: 0.3s ease; 
}

.navBar li a:hover,
.navBar li a.active {
    color: #db2d2d;
}
